.cart_modal {
  display: flex;
  align-items: center;
  flex-direction: column;
  position: absolute;
  top: 7.5rem;
  right: 2.5%;
  z-index: 1;
  background-color: var(--white);
  width: 95%;
  max-width: 400px;
  border-radius: 1rem;
}

.cart_modal_hidden {
  display: none;
}

.cart_modal > p {
  font-weight: 700;
  padding: 2rem;
  border-bottom: 1px solid var(--grayish-blue);
  width: 100%;
}

.cart_modal__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  overflow-y: auto;
  padding: 2rem;
}

.cart_modal__container > p {
  font-weight: 700;
  padding: 8rem 0;
  color: var(--very-dark-blue);
}

.cart_modal__product {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  margin-bottom: 1rem;
}

.cart_modal__product img {
  border-radius: 0.5rem;
}

.cart_modal__product p:first-of-type {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  width: 95%;
}

.cart_modal__product button:first-of-type {
  font-size: 0;
}

.cart_modal__checkout_button {
  width: 100%;
  padding: 1.5rem;
  margin-top: 1rem;
  color: var(--white);
  background-color: var(--orange);
  font-weight: 700;
  border-radius: 1rem;
}

@media screen and (min-width: 1024px) {
  .cart_modal {
    top: 9rem;
    border: 1px solid var(--grayish-blue);
  }

}
