.image_modal {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 100vh;
  background-color: var(--black);
}

.image_modal_hidden {
  display: none;
}

.image_modal_button_container {
  display: flex;
  justify-content: flex-end;
  width: 100%;
  margin: 2rem 0;
}

.image_container {
  position: relative;
}

.image_container img {
  border-radius: 2rem;
}

.image_thumbnail_container {
  display: flex;
  justify-content: space-between;
  align-items: center;

  width: 90%;
  margin: 2rem auto;
}

.image_thumbnail_button {
  font-size: 0;
  border-radius: 1rem;
  border: 2px solid transparent;
}

.image_thumbnail_button_selected {
  font-size: 0;
  border-radius: 1rem;
  border: 2px solid var(--orange);
}

.image_thumbnail_container img {
  border-radius: 0.78rem;
}

.image_previous__button, .image_next__button {
  position: absolute;
  background-color: var(--white);
  padding: 2rem;
  font-size: 0;
  top: 45%;
  border-radius: 10rem;
}

.image_previous__button {
  left: -18px;
}

.image_next__button {
  right: -18px;
}
